## Pandas

###### 1. Filter channels that were created before 2010 and have more than 5 billion total views.

In [26]:
import pandas as pd
#pd.read_csv('C:/Users/srava/Downloads/Global YouTube Statistics.csv')

# Read the CSV file
df = pd.read_csv(r'C:/Users/srava/Downloads/Global YouTube Statistics.csv', encoding='latin1')

filtered_df = df[(df['created_year'] < 2010) & (df['video views'] > 5000000000)]
print(filtered_df)

     rank                    Youtuber  subscribers   video views  \
0       1                    T-Series    245000000  2.280000e+11
3       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4       5                   SET India    159000000  1.480000e+11
11     12                         WWE     96000000  7.742847e+10
14     15                   Goldmines     86900000  2.411823e+10
..    ...                         ...          ...           ...
961   962           elcarteldesantatv     12500000  7.489455e+09
963   964                   Zee Tamil     12500000  1.155219e+10
982   983             DisneyChannelUK     12400000  1.260749e+10
986   987                   ANNA KOVA     12400000  1.395959e+10
987   988               Avril Lavigne     12400000  6.202090e+09

             category                       Title  uploads         Country  \
0               Music                    T-Series    20082           India
3           Education  Cocomelon - Nursery Rhymes      966   United States
4               Shows                   SET India   116536           India
11             Sports                         WWE    70127   United States
14   Film & Animation                   goldmines        1             NaN
..                ...                         ...      ...             ...
961             Music           elcarteldesantatv      377          Mexico
963     Entertainment                   Zee Tamil   102699           India
982             Music             DisneyChannelUK     4422  United Kingdom
986    People & Blogs                    annakova        1             NaN
987             Music               Avril Lavigne      205   United States

    Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0             IN          Music  ...                     2000000.0
3             US      Education  ...                     1000000.0
4             IN  Entertainment  ...                     1000000.0
11            US         Sports  ...                      600000.0
14           NaN          Music  ...                           NaN
..           ...            ...  ...                           ...
961           MX  Entertainment  ...                      100000.0
963           IN  Entertainment  ...                      200000.0
982           GB  Entertainment  ...                           NaN
986          NaN           Film  ...                           NaN
987           US          Music  ...                           NaN

     created_year  created_month  created_date  \
0          2006.0            Mar          13.0
3          2006.0            Sep           1.0
4          2006.0            Sep          20.0
11         2007.0            May          11.0
14         2006.0            Aug          15.0
..            ...            ...           ...
961        2008.0            Nov          27.0
963        2008.0            Aug          26.0
982        2007.0            Dec           6.0
986        2006.0            Jun          18.0
987        2005.0            Oct           8.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                       28.1  1.366418e+09               5.36
3                                       88.2  3.282395e+08              14.70
4                                       28.1  1.366418e+09               5.36
11                                      88.2  3.282395e+08              14.70
14                                       NaN           NaN                NaN
..                                       ...           ...                ...
961                                     40.2  1.260140e+08               3.42
963                                     28.1  1.366418e+09               5.36
982                                     60.0  6.683440e+07               3.85
986                                      NaN           NaN                NaN
987                                     88.2  3.282395e+08              14.70

     Urban_population   Latitude   Longitude
0         471031528.0  20.593684   78.962880
3         270663028.0  37.090240  -95.712891
4         471031528.0  20.593684   78.962880
11        270663028.0  37.090240  -95.712891
14                NaN        NaN         NaN
..                ...        ...         ...
961       102626859.0  23.634501 -102.552784
963       471031528.0  20.593684   78.962880
982        55908316.0  55.378051   -3.435973
986               NaN        NaN         NaN
987       270663028.0  37.090240  -95.712891

[195 rows x 28 columns]

###### 2. Show all YouTubers whose video_views_for_the_last_30_days is missing, but who have more than 1 million subscribers.

In [29]:
YouTubers_df = df[
    df['video_views_for_the_last_30_days'].isna() &  # Check for missing values
    (df['subscribers'] > 1_000_000)]
    
print(YouTubers_df)

     rank                      Youtuber  subscribers   video views  \
5       6                         Music    119000000  0.000000e+00
12     13                        Gaming     93600000  0.000000e+00
57     58                   BRIGHT SIDE     44500000  1.070853e+10
73     74              Luisito Comunica     40600000  8.670474e+09
102   103                          News     36300000  0.000000e+00
113   114          T-Series Apna Punjab     34600000  2.130632e+10
122   123            Desi Music Factory     33700000  1.018903e+10
149   150                    Luis Fonsi     31400000  1.517676e+10
164   165                   Talking Tom     30200000  1.519933e+10
166   167                 Frost Diamond     30100000  7.277494e+09
180   181            Aditya Music India     28500000  2.585799e+10
190   191            Sandeep Maheshwari     27800000  2.303069e+09
217   218         1MILLION Dance Studio     26100000  7.886440e+09
226   227                 Fede Vigevani     25600000  7.962726e+09
236   237                   Chris Brown     25200000  1.552057e+10
273   274                      FaZe Rug     23700000  7.451792e+09
299   300                   Alan Becker     22900000  5.380074e+09
340   341                          YOLO     21400000  1.573059e+09
348   349       Khan GS Research Centre     21200000  2.073073e+09
360   361             Minecraft - Topic     20900000  0.000000e+00
377   378                   Linkin Park     20400000  1.339700e+10
386   387                Family GamesTV     20200000  7.066711e+09
394   395              Robin Hood Gamer     20100000  1.036685e+10
403   404                    Pentatonix     20000000  6.033296e+09
411   412         Official Pink Panther     19700000  1.095562e+10
440   441                Masha e o Urso     18900000  8.301731e+09
445   446                  Busy Fun Ltd     18800000  7.762077e+09
463   464                     Dhar Mann     18400000  1.128073e+10
468   469         Good Mythical Morning     18300000  8.798045e+09
476   477                   Ajay Sharma     18100000  1.224983e+10
508   509            The Game Theorists     17600000  3.752347e+09
534   535                 Gaby and Alex     17000000  8.229883e+09
543   544                  DeToxoMoroxo     16800000  2.315962e+09
544   545          Doggy Doggy Cartoons     16800000  6.518419e+09
554   555                 Werever2morro     16600000  2.798274e+09
569   570  RCTI - LAYAR DRAMA INDONESIA     16400000  1.347839e+10
592   593                          Live     16100000  0.000000e+00
600   601          La Rosa de Guadalupe     16100000  9.642146e+09
604   605                    Enes Batur     16000000  9.786595e+09
606   607                    ýýýýýýýýýý     15900000  1.845330e+09
629   630                   Super Senya     15500000  5.070971e+09
634   635                     Mr DegrEE     15500000  1.288039e+10
668   669            Hongyu ASMR ï¿½ï¿½     15100000  4.967784e+09
680   681                    TheRichest     15000000  2.730879e+09
687   688                     BigSchool     15000000  9.996133e+09
710   711          Major Lazer Official     14800000  9.383431e+09
735   736                  LEGENDA FUNK     14500000  2.440718e+09
762   763                  Harry Styles     14400000  5.689224e+09
769   770                Rebecca Zamolo     14300000  6.388439e+09
777   778                    Crazy Frog     14200000  7.946322e+09
853   854            Blockbuster Movies     13400000  2.650061e+09
877   878                       Ei Nerd     13200000  3.568392e+09
951   952                       Ja Mill     12500000  1.302818e+09
975   976             Gustavo Parï¿½ï¿½     12400000  2.602614e+09
983   984                      MoniLina     12400000  1.608681e+10
985   986                          TKOR     12400000  3.392023e+09

                 category                         Title  uploads  \
5                     NaN                         Music        0
12                    NaN                        Gaming        0
57          Howto & Style                    brightside        0
73                 Comedy      Luis Arturo Villar Sudek        0
102                   NaN                          News        0
113                 Music         T- Series Apna Punjab        0
122                 Music            Desi music factory        2
149         Entertainment                     luisfonsi        0
164                Comedy                    TalkingTom        2
166                Gaming                  frostdiamond        0
180                 Music                  Aditya Music        0
190        People & Blogs             Sandeepmaheshwari        0
217         Entertainment         1MILLION Dance Studio        0
226         Howto & Style                 Fede Vigevani        0
236                 Music                    ChrisBrown        0
273                Gaming                       FaZeRug        0
299      Film & Animation                   Alan Becker        0
340                Comedy                          YOLO        0
348             Education       KHAN GS RESEARCH CENTRE        1
360                   NaN             Minecraft - Topic        0
377                 Music                    linkinpark        0
386         Entertainment                 FamilyGamesTV        0
394         Entertainment           Homem Aranha player        0
403                 Music                    pentatonix        1
411      Film & Animation           OfficialPinkPanther        1
440                 Shows                Masha e o Urso        0
445                   NaN                  TG MAYANK YT        2
463        People & Blogs              Alejandro Basalo        0
468         Entertainment           Goodmythicalmorning        0
476         Entertainment                   Ajay Sharma        0
508                Gaming              TheGameTheorists        0
534         Entertainment                   gabyandalex        1
543         Entertainment                 de toxomoroxo        1
544         Entertainment          Doggy Doggy Cartoons        0
554         Entertainment                 werever2morro        0
569         Entertainment  RCTI - LAYAR DRAMA INDONESIA        1
592                   NaN                          Live        0
600         Entertainment             larosadeguadalupe        0
604                Gaming                     enesbatur        0
606        People & Blogs                 Kung Fu Padla        0
629         Entertainment                   Super Senya        0
634  Science & Technology                      MrDegree        0
668        People & Blogs           Hongyu ASMR ï¿½ï¿½ï        1
680             Education                    Therichest        0
687                Gaming                    Big School       68
710                 Music            MajorLazerOfficial        0
735                 Music                   LegendaFUNK        0
762        People & Blogs                   harrystyles        0
769                Comedy                 RebeccaZamolo        1
777                 Music                     CrazyFrog        0
853         Entertainment            Blockbuster Movies        0
877         Entertainment                        Einerd        0
951        People & Blogs                        jamill        0
975                Comedy               GustavoParodias        9
983                Comedy                MoniLinaFamily        0
985             Education                          TKoR        0

           Country Abbreviation   channel_type  ...  \
5              NaN          NaN          Music  ...
12             NaN          NaN          Games  ...
57             NaN          NaN            NaN  ...
73          Mexico           MX         Comedy  ...
102            NaN          NaN            NaN  ...
113            NaN          NaN           News  ...
122            NaN          NaN          Music  ...
149            NaN          NaN            NaN  ...
164  United States           US  Entertainment  ...
166            NaN          NaN            NaN  ...
180            NaN          NaN          Music  ...
190      Singapore           SG            NaN  ...
217   Saudi Arabia           SA          Music  ...
226            NaN          NaN            NaN  ...
236            NaN          NaN            NaN  ...
273         Canada           CA          Games  ...
299  United States           US          Games  ...
340        Germany           DE            NaN  ...
348            NaN          NaN         People  ...
360            NaN          NaN          Games  ...
377    Afghanistan           AF          Games  ...
386            NaN          NaN          Games  ...
394            NaN          NaN          Games  ...
403         Canada           CA  Entertainment  ...
411  United States           US          Games  ...
440            NaN          NaN            NaN  ...
445            NaN          NaN            NaN  ...
463            NaN          NaN            NaN  ...
468            NaN          NaN            NaN  ...
476            NaN          NaN            NaN  ...
508      Australia           AU            NaN  ...
534            NaN          NaN         People  ...
543            NaN          NaN          Music  ...
544            NaN          NaN            NaN  ...
554         Mexico           MX          Games  ...
569            NaN          NaN         People  ...
592            NaN          NaN            NaN  ...
600         Mexico           MX          Games  ...
604            NaN          NaN          Games  ...
606         Russia           RU          Games  ...
629            NaN          NaN            NaN  ...
634  United States           US  Entertainment  ...
668            NaN          NaN         People  ...
680  United States           US          Games  ...
687            NaN          NaN           Film  ...
710            NaN          NaN            NaN  ...
735         Brazil           BR          Music  ...
762  United States           US          Games  ...
769  United States           US  Entertainment  ...
777            NaN          NaN          Games  ...
853          India           IN            NaN  ...
877            NaN          NaN          Games  ...
951            NaN          NaN            NaN  ...
975         Brazil           BR         Comedy  ...
983  United States           US         People  ...
985            NaN          NaN         People  ...

     subscribers_for_last_30_days  created_year  created_month  created_date  \
5                             NaN        2013.0            Sep          24.0
12                            NaN        2013.0            Dec          15.0
57                            1.0        2005.0            Nov          18.0
73                            NaN        2010.0            Jun          18.0
102                           NaN        2013.0            Sep           9.0
113                           NaN        2020.0            Jul           9.0
122                           NaN        2018.0            Apr          10.0
149                           NaN        2006.0            Mar          31.0
164                           NaN        2008.0            Jun          27.0
166                           6.0        2006.0            Aug          10.0
180                           NaN        2010.0            Dec          16.0
190                           1.0        2008.0            Jan           2.0
217                           NaN        2019.0            Jul          13.0
226                           2.0        2019.0            Aug           1.0
236                           NaN           NaN            NaN           NaN
273                           1.0        2012.0            Nov          30.0
299                           1.0        2006.0            Mar          21.0
340                           5.0        2013.0            Jun          11.0
348                           NaN        2017.0            Jan           5.0
360                      300000.0        2013.0            Dec          20.0
377                          12.0        2006.0            Nov          28.0
386                           NaN        2012.0            Dec          29.0
394                           NaN        2013.0            Mar          16.0
403                           NaN        2006.0            Mar           9.0
411                           NaN        2011.0            Oct           6.0
440                           2.0        2014.0            Feb          20.0
445                           NaN        2021.0            Dec          21.0
463                           2.0        2007.0            Apr          25.0
468                           NaN           NaN            NaN           NaN
476                           1.0        2009.0            Oct          24.0
508                           NaN           NaN            NaN           NaN
534                           NaN        2008.0            Aug          21.0
543                           NaN        2016.0            Apr          30.0
544                           NaN        2018.0            Nov          11.0
554                           NaN        2010.0            Dec           7.0
569                           NaN        2020.0            Oct          19.0
592                           NaN        2015.0            Jan          13.0
600                           NaN        2008.0            Sep           3.0
604                          11.0        2007.0            Mar           4.0
606                          10.0        2017.0            May          27.0
629                           NaN        2017.0            Jul          27.0
634                          10.0        2016.0            Mar           2.0
668                           NaN        2021.0            Mar          16.0
680                           NaN        2006.0            May          25.0
687                           NaN        2020.0            Dec           2.0
710                           NaN        2013.0            Jun          14.0
735                           NaN           NaN            NaN           NaN
762                           NaN           NaN            NaN           NaN
769                           NaN        2011.0            Aug           4.0
777                           NaN        2005.0            Oct           2.0
853                           NaN        2017.0            Jul           4.0
877                           NaN        2007.0            Nov          19.0
951                           NaN        2006.0            Feb          22.0
975                           NaN        2010.0            Aug          24.0
983                         100.0        2016.0            May          10.0
985                           NaN        2006.0            Aug          16.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
5                                        NaN           NaN                NaN
12                                       NaN           NaN                NaN
57                                       NaN           NaN                NaN
73                                      40.2  1.260140e+08               3.42
102                                      NaN           NaN                NaN
113                                      NaN           NaN                NaN
122                                      NaN           NaN                NaN
149                                      NaN           NaN                NaN
164                                     88.2  3.282395e+08              14.70
166                                      NaN           NaN                NaN
180                                      NaN           NaN                NaN
190                                     84.8  5.703569e+06               4.11
217                                     68.0  3.426853e+07               5.93
226                                      NaN           NaN                NaN
236                                      NaN           NaN                NaN
273                                     68.9  3.699198e+07               5.56
299                                     88.2  3.282395e+08              14.70
340                                     70.2  8.313280e+07               3.04
348                                      NaN           NaN                NaN
360                                      NaN           NaN                NaN
377                                      9.7  3.804175e+07              11.12
386                                      NaN           NaN                NaN
394                                      NaN           NaN                NaN
403                                     68.9  3.699198e+07               5.56
411                                     88.2  3.282395e+08              14.70
440                                      NaN           NaN                NaN
445                                      NaN           NaN                NaN
463                                      NaN           NaN                NaN
468                                      NaN           NaN                NaN
476                                      NaN           NaN                NaN
508                                    113.1  2.576660e+07               5.27
534                                      NaN           NaN                NaN
543                                      NaN           NaN                NaN
544                                      NaN           NaN                NaN
554                                     40.2  1.260140e+08               3.42
569                                      NaN           NaN                NaN
592                                      NaN           NaN                NaN
600                                     40.2  1.260140e+08               3.42
604                                      NaN           NaN                NaN
606                                     81.9  1.443735e+08               4.59
629                                      NaN           NaN                NaN
634                                     88.2  3.282395e+08              14.70
668                                      NaN           NaN                NaN
680                                     88.2  3.282395e+08              14.70
687                                      NaN           NaN                NaN
710                                      NaN           NaN                NaN
735                                     51.3  2.125594e+08              12.08
762                                     88.2  3.282395e+08              14.70
769                                     88.2  3.282395e+08              14.70
777                                      NaN           NaN                NaN
853                                     28.1  1.366418e+09               5.36
877                                      NaN           NaN                NaN
951                                      NaN           NaN                NaN
975                                     51.3  2.125594e+08              12.08
983                                     88.2  3.282395e+08              14.70
985                                      NaN           NaN                NaN

     Urban_population   Latitude   Longitude
5                 NaN        NaN         NaN
12                NaN        NaN         NaN
57                NaN        NaN         NaN
73        102626859.0  23.634501 -102.552784
102               NaN        NaN         NaN
113               NaN        NaN         NaN
122               NaN        NaN         NaN
149               NaN        NaN         NaN
164       270663028.0  37.090240  -95.712891
166               NaN        NaN         NaN
180               NaN        NaN         NaN
190         5703569.0   1.352083  103.819836
217        28807838.0  23.885942   45.079162

###### 3. Find all YouTubers from India with more than 100 million subscribers.

In [30]:
India_df = df[
    (df['Country'] == 'India') & 
    (df['subscribers'] > 100_000_000)  # 100 million
]
print(India_df)

   rank   Youtuber  subscribers   video views category      Title  uploads  \
0     1   T-Series    245000000  2.280000e+11    Music   T-Series    20082
4     5  SET India    159000000  1.480000e+11    Shows  SET India   116536

  Country Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0   India           IN          Music  ...                     2000000.0
4   India           IN  Entertainment  ...                     1000000.0

   created_year  created_month  created_date  \
0        2006.0            Mar          13.0
4        2006.0            Sep          20.0

   Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                     28.1  1.366418e+09               5.36
4                                     28.1  1.366418e+09               5.36

   Urban_population   Latitude  Longitude
0       471031528.0  20.593684   78.96288
4       471031528.0  20.593684   78.96288

[2 rows x 28 columns]

###### 4. Show all YouTubers whose channel type is "Entertainment" and who have more than 10 billion views.

In [35]:
Ent_df = df[
    (df['channel_type'] == 'Entertainment') & 
    (df['video views'] > 10000000000)]
print(Ent_df)

     rank             Youtuber  subscribers   video views        category  \
2       3              MrBeast    166000000  2.836884e+10   Entertainment
4       5            SET India    159000000  1.480000e+11           Shows
6       7  ýýý Kids Diana Show    112000000  9.324704e+10  People & Blogs
7       8            PewDiePie    111000000  2.905804e+10          Gaming
9      10        Vlad and Niki     98900000  7.718017e+10   Entertainment
..    ...                  ...          ...           ...             ...
845   846       Woody & Kleiny     13500000  1.171722e+10          Comedy
962   963       Family Fitness     12500000  1.038485e+10   Entertainment
963   964            Zee Tamil     12500000  1.155219e+10   Entertainment
964   965       Flowers Comedy     12500000  1.169108e+10   Entertainment
982   983      DisneyChannelUK     12400000  1.260749e+10           Music

                   Title  uploads         Country Abbreviation   channel_type  \
2                MrBeast      741   United States           US  Entertainment
4              SET India   116536           India           IN  Entertainment
6    ýýý Kids Diana Show     1111   United States           US  Entertainment
7              PewDiePie     4716           Japan           JP  Entertainment
9          Vlad and Niki      574   United States           US  Entertainment
..                   ...      ...             ...          ...            ...
845       Woody & Kleiny      975  United Kingdom           GB  Entertainment
962       Family Fitness     1699           India           IN  Entertainment
963            Zee Tamil   102699           India           IN  Entertainment
964       Flowers Comedy    11907           India           IN  Entertainment
982      DisneyChannelUK     4422  United Kingdom           GB  Entertainment

     ...  subscribers_for_last_30_days  created_year  created_month  \
2    ...                     8000000.0        2012.0            Feb
4    ...                     1000000.0        2006.0            Sep
6    ...                           NaN        2015.0            May
7    ...                           NaN        2010.0            Apr
9    ...                      600000.0        2018.0            Apr
..   ...                           ...           ...            ...
845  ...                      400000.0        2013.0            Mar
962  ...                      400000.0        2017.0            Jan
963  ...                      200000.0        2008.0            Aug
964  ...                      100000.0        2015.0            Aug
982  ...                           NaN        2007.0            Dec

     created_date  Gross tertiary education enrollment (%)    Population  \
2            20.0                                     88.2  3.282395e+08
4            20.0                                     28.1  1.366418e+09
6            12.0                                     88.2  3.282395e+08
7            29.0                                     63.2  1.262266e+08
9            23.0                                     88.2  3.282395e+08
..            ...                                      ...           ...
845          30.0                                     60.0  6.683440e+07
962          18.0                                     28.1  1.366418e+09
963          26.0                                     28.1  1.366418e+09
964          19.0                                     28.1  1.366418e+09
982           6.0                                     60.0  6.683440e+07

     Unemployment rate  Urban_population   Latitude   Longitude
2                14.70       270663028.0  37.090240  -95.712891
4                 5.36       471031528.0  20.593684   78.962880
6                14.70       270663028.0  37.090240  -95.712891
7                 2.29       115782416.0  36.204824  138.252924
9                14.70       270663028.0  37.090240  -95.712891
..                 ...               ...        ...         ...
845               3.85        55908316.0  55.378051   -3.435973
962               5.36       471031528.0  20.593684   78.962880
963               5.36       471031528.0  20.593684   78.962880
964               5.36       471031528.0  20.593684   78.962880
982               3.85        55908316.0  55.378051   -3.435973

[103 rows x 28 columns]

Which category has the most YouTubers?

In [40]:
category_counts = df['category'].value_counts()
print(category_counts)
most_popular_category = category_counts.idxmax()
most_popular_count = category_counts.max()
print(most_popular_category)
print(most_popular_count)

category
Entertainment            241
Music                    202
People & Blogs           132
Gaming                    94
Comedy                    69
Film & Animation          46
Education                 45
Howto & Style             40
News & Politics           26
Science & Technology      17
Shows                     13
Sports                    11
Pets & Animals             4
Trailers                   2
Nonprofits & Activism      2
Movies                     2
Autos & Vehicles           2
Travel & Events            1
Name: count, dtype: int64
Entertainment
241

Find the top 5 countries by total number of YouTubers in the dataset.

In [41]:
country_counts = df['Country'].value_counts()
top_5_countries = country_counts.head(5)
print(top_5_countries)

Country
United States     313
India             168
Brazil             62
United Kingdom     43
Mexico             33
Name: count, dtype: int64

Calculate the average, minimum, and maximum earnings (both monthly and yearly).

In [4]:
import pandas as pd
df = pd.read_csv(r'C:/Users/srava/Downloads/Global YouTube Statistics.csv', encoding='latin1')
print("\nLowest Monthly Earnings:")
print("Average:", df['lowest_monthly_earnings'].mean())
print("Minimum:", df['lowest_monthly_earnings'].min())
print("Maximum:", df['lowest_monthly_earnings'].max())


print("\nHighest Monthly Earnings:")
print("Average:", df['highest_monthly_earnings'].mean())
print("Minimum:", df['highest_monthly_earnings'].min())
print("Maximum:", df['highest_monthly_earnings'].max())


print("\nYearly Earnings (Lowest):")
print("Average:", df['lowest_yearly_earnings'].mean())
print("Minimum:", df['lowest_yearly_earnings'].min())
print("Maximum:", df['lowest_yearly_earnings'].max())

print("\nYearly Earnings (Highest):")
print("Average:", df['highest_yearly_earnings'].mean())
print("Minimum:", df['highest_yearly_earnings'].min())
print("Maximum:", df['highest_yearly_earnings'].max())

Lowest Monthly Earnings:
Average: 36886.14828140703
Minimum: 0.0
Maximum: 850900.0

Highest Monthly Earnings:
Average: 589807.8475879397
Minimum: 0.0
Maximum: 13600000.0

Yearly Earnings (Lowest):
Average: 442257.39253266336
Minimum: 0.0
Maximum: 10200000.0

Yearly Earnings (Highest):
Average: 7081813.919527639
Minimum: 0.0
Maximum: 163400000.0

Filter YouTubers who belong to countries with an unemployment rate below 5% and have more than 1 million subscribers.

In [13]:
filtered_df = df[
(df['Unemployment rate'] < 5) & 
(df['subscribers'] > 1_000_000)
]
print("\nYouTubers from countries with unemployment rate below 5% and more than 1 million subscribers:")
print(filtered_df)
print("\nYouTubers from countries with unemployment rate below 5% and more than 1 million subscribers:")
print(filtered_df)

filtered_df.to_csv('Filtered_YouTubers_Unemployment_Subscribers.csv', index=False)
print("\nFiltered data saved to 'Filtered_YouTubers_Unemployment_Subscribers.csv'")

YouTubers from countries with unemployment rate below 5% and more than 1 million subscribers:
     rank         Youtuber  subscribers   video views              category  \
7       8        PewDiePie    111000000  2.905804e+10                Gaming
8       9      Like Nastya    106000000  9.047906e+10        People & Blogs
13     14        BLACKPINK     89800000  3.214460e+10        People & Blogs
16     17  5-Minute Crafts     80100000  2.623679e+10         Howto & Style
17     18        BANGTANTV     75600000  2.082699e+10                 Music
..    ...              ...          ...           ...                   ...
969   970  Quantum Tech HD     12500000  4.340213e+09  Science & Technology
974   975         Gibby :)     12400000  2.862685e+09        People & Blogs
976   977   SAAIHALILINTAR     12400000  1.113066e+09         Entertainment
982   983  DisneyChannelUK     12400000  1.260749e+10                 Music
992   993            Panda     12300000  2.214684e+09                   NaN

                   Title  uploads         Country Abbreviation   channel_type  \
7              PewDiePie     4716           Japan           JP  Entertainment
8       Like Nastya Vlog      493          Russia           RU         People
13             BLACKPINK      543     South Korea           KR          Music
16   5-Minute Crafts 2.0        1  United Kingdom           GB  Entertainment
17             BANGTANTV     2281     South Korea           KR          Music
..                   ...      ...             ...          ...            ...
969    Mr_Mughall Gaming      223        Pakistan           PK            NaN
974             Gibby :)      226          Mexico           MX         People
976       SAAIHALILINTAR      409       Indonesia           ID  Entertainment
982      DisneyChannelUK     4422  United Kingdom           GB  Entertainment
992          HybridPanda     2452  United Kingdom           GB          Games

     ...  subscribers_for_last_30_days  created_year  created_month  \
7    ...                           NaN        2010.0            Apr
8    ...                      100000.0        2016.0            Jan
13   ...                      700000.0        2016.0            Jun
16   ...                           NaN        2020.0            Jul
17   ...                      400000.0        2012.0            Dec
..   ...                           ...           ...            ...
969  ...                          32.0        2022.0            Apr
974  ...                           NaN        2014.0            Aug
976  ...                           NaN        2012.0            Apr
982  ...                           NaN        2007.0            Dec
992  ...                        1000.0        2006.0            Sep

     created_date  Gross tertiary education enrollment (%)   Population  \
7            29.0                                     63.2  126226568.0
8            14.0                                     81.9  144373535.0
13           29.0                                     94.3   51709098.0
16           27.0                                     60.0   66834405.0
17           17.0                                     94.3   51709098.0
..            ...                                      ...          ...
969          23.0                                      9.0  216565318.0
974          30.0                                     40.2  126014024.0
976          28.0                                     36.3  270203917.0
982           6.0                                     60.0   66834405.0
992          11.0                                     60.0   66834405.0

     Unemployment rate  Urban_population   Latitude   Longitude
7                 2.29       115782416.0  36.204824  138.252924
8                 4.59       107683889.0  61.524010  105.318756
13                4.15        42106719.0  35.907757  127.766922
16                3.85        55908316.0  55.378051   -3.435973
17                4.15        42106719.0  35.907757  127.766922
..                 ...               ...        ...         ...
969               4.45        79927762.0  30.375321   69.345116
974               3.42       102626859.0  23.634501 -102.552784
976               4.69       151509724.0  -0.789275  113.921327
982               3.85        55908316.0  55.378051   -3.435973
992               3.85        55908316.0  55.378051   -3.435973

[210 rows x 28 columns]

YouTubers from countries with unemployment rate below 5% and more than 1 million subscribers:
     rank         Youtuber  subscribers   video views              category  \
7       8        PewDiePie    111000000  2.905804e+10                Gaming
8       9      Like Nastya    106000000  9.047906e+10        People & Blogs
13     14        BLACKPINK     89800000  3.214460e+10        People & Blogs
16     17  5-Minute Crafts     80100000  2.623679e+10         Howto & Style
17     18        BANGTANTV     75600000  2.082699e+10                 Music
..    ...              ...          ...           ...                   ...
969   970  Quantum Tech HD     12500000  4.340213e+09  Science & Technology
974   975         Gibby :)     12400000  2.862685e+09        People & Blogs
976   977   SAAIHALILINTAR     12400000  1.113066e+09         Entertainment
982   983  DisneyChannelUK     12400000  1.260749e+10                 Music
992   993            Panda     12300000  2.214684e+09                   NaN

                   Title  uploads         Country Abbreviation   channel_type  \
7              PewDiePie     4716           Japan           JP  Entertainment
8       Like Nastya Vlog      493          Russia           RU         People
13             BLACKPINK      543     South Korea           KR          Music
16   5-Minute Crafts 2.0        1  United Kingdom           GB  Entertainment
17             BANGTANTV     2281     South Korea           KR          Music
..                   ...      ...             ...          ...            ...
969    Mr_Mughall Gaming      223        Pakistan           PK            NaN
974             Gibby :)      226          Mexico           MX         People
976       SAAIHALILINTAR      409       Indonesia           ID  Entertainment
982      DisneyChannelUK     4422  United Kingdom           GB  Entertainment
992          HybridPanda     2452  United Kingdom           GB          Games

     ...  subscribers_for_last_30_days  created_year  created_month  \
7    ...                           NaN        2010.0            Apr
8    ...                      100000.0        2016.0            Jan
13   ...                      700000.0        2016.0            Jun
16   ...                           NaN        2020.0            Jul
17   ...                      400000.0        2012.0            Dec
..   ...                           ...           ...            ...
969  ...                          32.0        2022.0            Apr
974  ...                           NaN        2014.0            Aug
976  ...                           NaN        2012.0            Apr
982  ...                           NaN        2007.0            Dec
992  ...                        1000.0        2006.0            Sep

     created_date  Gross tertiary education enrollment (%)   Population  \
7            29.0                                     63.2  126226568.0
8            14.0                                     81.9  144373535.0
13           29.0                                     94.3   51709098.0
16           27.0                                     60.0   66834405.0
17           17.0                                     94.3   51709098.0
..            ...                                      ...          ...
969          23.0                                      9.0  216565318.0
974          30.0                                     40.2  126014024.0
976          28.0                                     36.3  270203917.0
982           6.0                                     60.0   66834405.0
992          11.0                                     60.0   66834405.0

     Unemployment rate  Urban_population   Latitude   Longitude
7                 2.29       115782416.0  36.204824  138.252924
8                 4.59       107683889.0  61.524010  105.318756
13                4.15        42106719.0  35.907757  127.766922
16                3.85        55908316.0  55.378051   -3.435973
17                4.15        42106719.0  35.907757  127.766922
..                 ...               ...        ...         ...
969               4.45        79927762.0  30.375321   69.345116
974               3.42       102626859.0  23.634501 -102.552784
976               4.69       151509724.0  -0.789275  113.921327
982               3.85        55908316.0  55.378051   -3.435973
992               3.85        55908316.0  55.378051   -3.435973

[210 rows x 28 columns]

Filtered data saved to 'Filtered_YouTubers_Unemployment_Subscribers.csv'

Show YouTubers where the difference between lowest_yearly_earnings and highest_monthly_earnings is less than $50,000.

In [17]:
print("Column names in the dataset:")
print(df.columns)
filtered_df = df[
    (df['lowest_yearly_earnings'] - df['highest_monthly_earnings']) < 50000]
print("\nYouTubers where the difference between lowest_yearly_earnings and highest_monthly_earnings is less than $50,000:")
print(filtered_df)

Column names in the dataset:
Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

YouTubers where the difference between lowest_yearly_earnings and highest_monthly_earnings is less than $50,000:
     rank                    Youtuber  subscribers   video views  \
0       1                    T-Series    245000000  2.280000e+11
1       2              YouTube Movies    170000000  0.000000e+00
2       3                     MrBeast    166000000  2.836884e+10
3       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4       5                   SET India    159000000  1.480000e+11
..    ...                         ...          ...           ...
990   991               Natan por Aï¿     12300000  9.029610e+09
991   992    Free Fire India Official     12300000  1.674410e+09
992   993                       Panda     12300000  2.214684e+09
993   994                 RobTopGames     12300000  3.741235e+08
994   995                Make Joke Of     12300000  2.129774e+09

             category                       Title  uploads         Country  \
0               Music                    T-Series    20082           India
1    Film & Animation               youtubemovies        1   United States
2       Entertainment                     MrBeast      741   United States
3           Education  Cocomelon - Nursery Rhymes      966   United States
4               Shows                   SET India   116536           India
..                ...                         ...      ...             ...
990            Sports               Natan por Aï¿     1200          Brazil
991    People & Blogs    Free Fire India Official     1500           India
992               NaN                 HybridPanda     2452  United Kingdom
993            Gaming                 RobTopGames       39          Sweden
994            Comedy                Make Joke Of       62           India

    Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0             IN          Music  ...                     2000000.0
1             US          Games  ...                           NaN
2             US  Entertainment  ...                     8000000.0
3             US      Education  ...                     1000000.0
4             IN  Entertainment  ...                     1000000.0
..           ...            ...  ...                           ...
990           BR  Entertainment  ...                      700000.0
991           IN          Games  ...                      300000.0
992           GB          Games  ...                        1000.0
993           SE          Games  ...                      100000.0
994           IN         Comedy  ...                      100000.0

     created_year  created_month  created_date  \
0          2006.0            Mar          13.0
1          2006.0            Mar           5.0
2          2012.0            Feb          20.0
3          2006.0            Sep           1.0
4          2006.0            Sep          20.0
..            ...            ...           ...
990        2017.0            Feb          12.0
991        2018.0            Sep          14.0
992        2006.0            Sep          11.0
993        2012.0            May           9.0
994        2017.0            Aug           1.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                       28.1  1.366418e+09               5.36
1                                       88.2  3.282395e+08              14.70
2                                       88.2  3.282395e+08              14.70
3                                       88.2  3.282395e+08              14.70
4                                       28.1  1.366418e+09               5.36
..                                       ...           ...                ...
990                                     51.3  2.125594e+08              12.08
991                                     28.1  1.366418e+09               5.36
992                                     60.0  6.683440e+07               3.85
993                                     67.0  1.028545e+07               6.48
994                                     28.1  1.366418e+09               5.36

     Urban_population   Latitude  Longitude
0         471031528.0  20.593684  78.962880
1         270663028.0  37.090240 -95.712891
2         270663028.0  37.090240 -95.712891
3         270663028.0  37.090240 -95.712891
4         471031528.0  20.593684  78.962880
..                ...        ...        ...
990       183241641.0 -14.235004 -51.925280
991       471031528.0  20.593684  78.962880
992        55908316.0  55.378051  -3.435973
993         9021165.0  60.128161  18.643501
994       471031528.0  20.593684  78.962880

[995 rows x 28 columns]

Show rows where created_year is either 2005, 2006, or 2007.

In [18]:
import pandas as pd
df = pd.read_csv(r'C:/Users/srava/Downloads/Global YouTube Statistics.csv', encoding='latin1')
filtered_data = df[df['created_year'].isin([2005, 2006, 2007])]
print(filtered_data)

     rank                    Youtuber  subscribers   video views  \
0       1                    T-Series    245000000  2.280000e+11
1       2              YouTube Movies    170000000  0.000000e+00
3       4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4       5                   SET India    159000000  1.480000e+11
11     12                         WWE     96000000  7.742847e+10
..    ...                         ...          ...           ...
982   983             DisneyChannelUK     12400000  1.260749e+10
985   986                        TKOR     12400000  3.392023e+09
986   987                   ANNA KOVA     12400000  1.395959e+10
987   988               Avril Lavigne     12400000  6.202090e+09
992   993                       Panda     12300000  2.214684e+09

             category                       Title  uploads         Country  \
0               Music                    T-Series    20082           India
1    Film & Animation               youtubemovies        1   United States
3           Education  Cocomelon - Nursery Rhymes      966   United States
4               Shows                   SET India   116536           India
11             Sports                         WWE    70127   United States
..                ...                         ...      ...             ...
982             Music             DisneyChannelUK     4422  United Kingdom
985         Education                        TKoR        0             NaN
986    People & Blogs                    annakova        1             NaN
987             Music               Avril Lavigne      205   United States
992               NaN                 HybridPanda     2452  United Kingdom

    Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0             IN          Music  ...                     2000000.0
1             US          Games  ...                           NaN
3             US      Education  ...                     1000000.0
4             IN  Entertainment  ...                     1000000.0
11            US         Sports  ...                      600000.0
..           ...            ...  ...                           ...
982           GB  Entertainment  ...                           NaN
985          NaN         People  ...                           NaN
986          NaN           Film  ...                           NaN
987           US          Music  ...                           NaN
992           GB          Games  ...                        1000.0

     created_year  created_month  created_date  \
0          2006.0            Mar          13.0
1          2006.0            Mar           5.0
3          2006.0            Sep           1.0
4          2006.0            Sep          20.0
11         2007.0            May          11.0
..            ...            ...           ...
982        2007.0            Dec           6.0
985        2006.0            Aug          16.0
986        2006.0            Jun          18.0
987        2005.0            Oct           8.0
992        2006.0            Sep          11.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                       28.1  1.366418e+09               5.36
1                                       88.2  3.282395e+08              14.70
3                                       88.2  3.282395e+08              14.70
4                                       28.1  1.366418e+09               5.36
11                                      88.2  3.282395e+08              14.70
..                                       ...           ...                ...
982                                     60.0  6.683440e+07               3.85
985                                      NaN           NaN                NaN
986                                      NaN           NaN                NaN
987                                     88.2  3.282395e+08              14.70
992                                     60.0  6.683440e+07               3.85

     Urban_population   Latitude  Longitude
0         471031528.0  20.593684  78.962880
1         270663028.0  37.090240 -95.712891
3         270663028.0  37.090240 -95.712891
4         471031528.0  20.593684  78.962880
11        270663028.0  37.090240 -95.712891
..                ...        ...        ...
982        55908316.0  55.378051  -3.435973
985               NaN        NaN        NaN
986               NaN        NaN        NaN
987       270663028.0  37.090240 -95.712891
992        55908316.0  55.378051  -3.435973

[164 rows x 28 columns]

Create a new column: subscribers_millions by dividing subscribers by 1 million and round to 2 decimal places.

In [19]:
import pandas as pd
df = pd.read_csv(r'C:/Users/srava/Downloads/Global YouTube Statistics.csv', encoding='latin1')
print("Original data:")
print(df.head())

df['subscribers_millions'] = (df['subscribers'] / 1000000).round(2)

print("\nData with 'subscribers_millions' column:")
print(df[['subscribers', 'subscribers_millions']].head())

Original data:
   rank                    Youtuber  subscribers   video views  \
0     1                    T-Series    245000000  2.280000e+11
1     2              YouTube Movies    170000000  0.000000e+00
2     3                     MrBeast    166000000  2.836884e+10
3     4  Cocomelon - Nursery Rhymes    162000000  1.640000e+11
4     5                   SET India    159000000  1.480000e+11

           category                       Title  uploads        Country  \
0             Music                    T-Series    20082          India
1  Film & Animation               youtubemovies        1  United States
2     Entertainment                     MrBeast      741  United States
3         Education  Cocomelon - Nursery Rhymes      966  United States
4             Shows                   SET India   116536          India

  Abbreviation   channel_type  ...  subscribers_for_last_30_days  \
0           IN          Music  ...                     2000000.0
1           US          Games  ...                           NaN
2           US  Entertainment  ...                     8000000.0
3           US      Education  ...                     1000000.0
4           IN  Entertainment  ...                     1000000.0

   created_year  created_month  created_date  \
0        2006.0            Mar          13.0
1        2006.0            Mar           5.0
2        2012.0            Feb          20.0
3        2006.0            Sep           1.0
4        2006.0            Sep          20.0

   Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                     28.1  1.366418e+09               5.36
1                                     88.2  3.282395e+08              14.70
2                                     88.2  3.282395e+08              14.70
3                                     88.2  3.282395e+08              14.70
4                                     28.1  1.366418e+09               5.36

   Urban_population   Latitude  Longitude
0       471031528.0  20.593684  78.962880
1       270663028.0  37.090240 -95.712891
2       270663028.0  37.090240 -95.712891
3       270663028.0  37.090240 -95.712891
4       471031528.0  20.593684  78.962880

[5 rows x 28 columns]

Data with 'subscribers_millions' column:
   subscribers  subscribers_millions
0    245000000                 245.0
1    170000000                 170.0
2    166000000                 166.0
3    162000000                 162.0
4    159000000                 159.0

Combine created_year, created_month, and created_date into a full datetime column channel_created_at.

In [24]:
import pandas as pd
df = pd.read_csv(r'C:/Users/srava/Downloads/Global YouTube Statistics.csv', encoding='latin1')
print("Original date columns:")
print(df[['created_year', 'created_month', 'created_date']].head())

df['channel_created_at'] = pd.to_datetime(dict(
    year=df['created_year'],
    month=df['created_month'],
    day=df['created_date']
))


print("\nData with 'channel_created_at' column:")
print(df[['created_year', 'created_month', 'created_date', 'channel_created_at']].head())

Original date columns:
   created_year created_month  created_date
0        2006.0           Mar          13.0
1        2006.0           Mar           5.0
2        2012.0           Feb          20.0
3        2006.0           Sep           1.0
4        2006.0           Sep          20.0

ValueError: Unable to parse string "Mar" at position 0

Replace missing values in channel_type with "Unknown" and in Country with "Unspecified".

In [25]:

print("Missing values before replacement:")
print(df[['channel_type', 'Country']].isna().sum())


df['channel_type'].fillna("Unknown", inplace=True)
df['Country'].fillna("Unspecified", inplace=True)


print("\nMissing values after replacement:")
print(df[['channel_type', 'Country']].isna().sum())


print("\nUpdated values:")
print(df[['channel_type', 'Country']].head())

Missing values before replacement:
channel_type     30
Country         122
dtype: int64

Missing values after replacement:
channel_type    0
Country         0
dtype: int64

Updated values:
    channel_type        Country
0          Music          India
1          Games  United States
2  Entertainment  United States
3      Education  United States
4  Entertainment          India

C:\Users\srava\AppData\Local\Temp\ipykernel_6736\3021675084.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['channel_type'].fillna("Unknown", inplace=True)
C:\Users\srava\AppData\Local\Temp\ipykernel_6736\3021675084.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Country'].fillna("Unspecified", inplace=True)

Convert the subscribers column to a string with a suffix like "245M" for display (e.g., 245000000 → "245M"

In [26]:
df['subscribers_display'] = (df['subscribers'] / 1_000_000).round(0).astype(int).astype(str) + "M"

print("\nDisplay-friendly subscribers column:")
print(df[['subscribers', 'subscribers_display']].head())

Display-friendly subscribers column:
   subscribers subscribers_display
0    245000000                245M
1    170000000                170M
2    166000000                166M
3    162000000                162M
4    159000000                159M

Replace all NaN values in video_views_for_the_last_30_days with 0.

In [29]:


# Step 3: Check how many missing values exist (optional)
print("Missing values before replacement:")
print(df['video_views_for_the_last_30_days'].isna().sum())

# Step 4: Replace NaN with 0
df['video_views_for_the_last_30_days'].fillna(0, inplace=True)

# Step 5: Check again (optional)
print("\nMissing values after replacement:")
print(df['video_views_for_the_last_30_days'].isna().sum())

# Step 6: Preview the changes
print("\nUpdated values:")
print(df['video_views_for_the_last_30_days'].head())

Missing values before replacement:
0

Missing values after replacement:
0

Updated values:
0    2.258000e+09
1    1.200000e+01
2    1.348000e+09
3    1.975000e+09
4    1.824000e+09
Name: video_views_for_the_last_30_days, dtype: float64

C:\Users\srava\AppData\Local\Temp\ipykernel_6736\1867134393.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['video_views_for_the_last_30_days'].fillna(0, inplace=True)